<nav>
  <div class="nav-left">
    <a href="/">Home</a>
  </div>

  <div class="nav-right">
    {{#if user}}
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </div>
</nav>